/* Stylesheet voor klas oefenen */
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

/* Stijl voor paragrafen */
p {
  color: #333333;
}
#pagina-titel {
  color: rgb(1, 1, 106);
}

#foto-confusion {
  position: relative;
  bottom: 0px;
  right: 0px;
}
